#homepage-container {
    background-image: url("../../assets/img/city_bg.jpg");
    height: 100vh;
    padding-top: 20%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 10%;
}