#card-link{
    text-decoration: none;
}
#card-link:hover{
    opacity: 0.5;
}
#card-container{
    width: 18rem;
    height: 20rem;
}
#card-container:hover{
    box-shadow: 0px 0px 5px 10px white;
}
#filter-toggle{
    border-radius: 10px;
    font-weight: bold;
}
filter-toggle__container{
        background-color: #f7f7f7;
        border-radius: 10px;
}
